---
const year = new Date().getFullYear();
const experience = year - 2012;
---

<section class="md:flex flex-row items-center gap-10">
  <img
    class="max-w-44 md:max-w-md m-auto md:m-px rounded-full order-2"
    src="/images/foto_perfil_transp.png"
    alt="Foto de mi perfil"
  />
  <div class="flex flex-col gap-3 order-1">
    <p>
      En 2010 dió un giro mi vida y me vi en la necesidad de <b>reinventarme</b>
      y aprobeché la oportunidad para aprender y dedicarme a aquello que siempre
      me había llamado la atención y la curiosidad. De ese modo acabé en el mundo
      de la
      <b>programación web</b>, una vez terminada mi etapa formativa de
      iniciación en la tecnología, y me dediqué a trabajar en proyectos de
      productodesde el principio. En varias empresas que he trabajado, he tenido
      la oportunidad de trabajar en proyectos de alta complejidad, y me he
      dedicado a <b>crear aplicaciones de gestión web y APIs de integración</b>
      durante más de {experience} años.
    </p>
    <p>
      Soy una persona apasionada por el <b>aprendizaje continuo</b>, siempre en
      busca de las últimas mejoras y tecnologías en mi sector. Disfruto
      investigando, experimentando, y aplicando lo que aprendo. Además, cuando
      surge la oportunidad, me encanta compartir mis conocimientos a través de
      tutoriales y sesiones con aprendices y becarios, ayudándoles a crecer en
      sus propios caminos.
    </p>
    <p>
      Me considero meticuloso y profesional, abordando cada reto con dedicación
      y una buena dosis de perseverancia 💪. Pongo toda mi energía en alcanzar
      mis objetivos, siempre con el propósito de mejorar y perfeccionar los
      resultados, buscando la <b>máxima satisfacción</b> en cada logro.
    </p>
    <p>
      En mi tiempo libre, me encanta disfrutar de mis paseos en moto 🏍️, soy un
      cinéfilo empedernido, y me fascinan las excursiones por la montaña ⛰️.
      Valoro mucho el tiempo con mi familia y mis hijos 💚, así como con mi
      grupo de amigos. Juntos, cuando el tiempo lo permite 😅, nos dedicamos a
      disfrutar de actividades como Scape Rooms, escapadas de fin de semana, y
      otras aventuras de ocio.
    </p>
  </div>
</section>
<style>
  img {
    shadow: 0 0 5px var(--color-primary);
  }
</style>
