---
import Layout from "../layouts/Layout.astro";
import HeaderSection from "../components/HeaderSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
---

<Layout
  title="Porfolio de Jesús Tirado - Desarrollador y Programador Full-Stack"
  description="Porfolio profesional de Jesús Tirado. Desarollador de aplicaciones web, APIs de integración durante más de 15 años."
>
  <main class="flex justify-start flex-col mx-auto w-full lg:w-[1250px] py-32">
    <HeaderSection class="flex justify-start items-center mb-60" />

    <h3 class="text-3xl mb-10">
      Experiencia
      <span class="text-primary"
        >----------------------------------------------------</span
      >
    </h3>
    <ExperienceSection class="ml-3" />
  </main>
</Layout>
