---
import Layout from "../layouts/Layout.astro";
import HeaderSection from "../components/HeaderSection.astro";
import ExperienceSection from "../components/experience/ExperienceSection.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Code from "../components/icons/Code.astro";
import ProjectList from "../components/projects/ProjectList.astro";
import UserIcon from "../components/icons/UserIcon.astro";
import AboutMe from "../components/abaout_me/AboutMe.astro";
---

<Layout
  title="Porfolio de Jesús Tirado - Desarrollador y Programador Full-Stack"
  description="Porfolio profesional de Jesús Tirado. Desarollador de aplicaciones web, APIs de integración durante más de 15 años."
>
  <main class="px-5 w-full xl:w-[1280px] m-auto">
    <SectionContainer id="top" class="py-20 lg:py-44 mb-40">
      <HeaderSection />
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" /> Experiencia profesional
      </h2>
      <ExperienceSection class="ml-3" />
    </SectionContainer>

    <SectionContainer id="projects" class="my-20">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-7" /> Proyectos destacados
      </h2>
      <section class="flex flex-col gap-3">
        <ProjectList />
      </section>
    </SectionContainer>

    <SectionContainer id="about-me" class="my-20">
      <h2 class="text-2xl font-semibold mb-1 lg:mb-6 flex gap-x-3 items-center">
        <UserIcon class="size-7" /> Algo sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
