---
import Badge from "./Badge.astro";
import SocialLink from "./SocialLink.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
import Logo from "./icons/Logo.astro";
---

<section class="flex items-center flex-wrap-reverse lg:flex-nowrap mb-60">
  <div>
    <span class="absolute">游녦</span>
    <h1
      class="flex items-center w-full flex-wrap text-5xl font-bold pb-2 text-pretty gap-2 mt-5 lg:mt-2"
    >
      <span class="text-3xl md:text-5xl">Salu2, soy</span>
      <span class="text-7xl jumbo-text text-balance">Jes칰s Tirado</span>
    </h1>
    <a
      class="flex items-end cursor-pointer"
      href="https://linkedin.com/in/jetiradoro"
      target="_blank"
      rel="noopener"
    >
      <Badge>Dispuesto para colaborar</Badge>
    </a>
    <h2 class="text-xl opacity-80 text-wrap mb-8 mt-5">
      <p class="mb-2">
        Llevo <b>+12 a침os</b> disfrutando de la programaci칩n web como <b
          >Full-Stack Developer</b
        > creando soluciones digitales desde Barcelona, Espa침a.
      </p>
      <p>
        Mantengo un enfoque constante en el aprendizaje y la adopci칩n de las
        tecnolog칤as m치s actuales para seguir innovando en cada proyecto.
      </p>
    </h2>

    <ul class="flex flex-wrap gap-x-2">
      <li>
        <SocialLink link="https://github.com/jetiradoro">
          <Github class="size-6" />
          Github
        </SocialLink>
      </li>

      <li>
        <SocialLink link="https://linkedin.com/in/jetiradoro">
          <Linkedin class="size-6" />
          Linkedin
        </SocialLink>
      </li>

      <li>
        <SocialLink link="mailto:jesus@jetiradoro.com">
          <Mail class="size-6" />
          jesus@jetiradoro.com
        </SocialLink>
      </li>
    </ul>
  </div>
  <!-- <img class="opacity-25" src="/foto_perfil_transp.png" alt="Foto Jetiradoro" /> -->
  <Logo class="w-[25rem] lg:w-[50rem] logo mx-auto mb-10 xl:mb-0" />
</section>

<style>
  .jumbo-text {
    background: linear-gradient(
      45deg,
      var(--color-primary),
      var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
