---
import Badge from "./Badge.astro";
import SocialLink from "./SocialLink.astro";
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
import Logo from "./icons/Logo.astro";
import Download from "./icons/Download.astro";
const year = new Date().getFullYear();
const experience = year - 2012;
---

<section class="flex items-center flex-wrap-reverse lg:flex-nowrap">
  <div>
    <span class="absolute">游녦</span>
    <h1
      class="flex items-center w-full flex-wrap text-5xl font-bold pb-2 text-pretty gap-2 mt-5 lg:mt-2"
    >
      <span class="text-3xl md:text-5xl">Soy</span>
      <span class="text-6xl md:text-7xl jumbo-text text-balance"
        >Jes칰s Tirado</span
      >
    </h1>
    <a
      class="flex items-end cursor-pointer"
      href="https://linkedin.com/in/jetiradoro"
      target="_blank"
      rel="noopener"
    >
      <Badge>
        <div class="inline-flex items-center gap-2">
          <div class="bg-green-600 size-2 rounded-full"></div>
          Dispuesto para colaborar
        </div>
      </Badge>
    </a>
    <section class="text-xl opacity-80 text-wrap mb-8 mt-5">
      <p class="mb-2">
        Llevo <b>+{experience} a침os</b> disfrutando del <b
          >Desarrollo de software web</b
        > especializ치ndome principalmente en <b>backend</b> pero siempre combinando
        tambi칠n con la programaci칩n <b>frontend</b>. Creando soluciones
        digitales desde Barcelona, Espa침a.
      </p>
      <p>
        Mantengo un enfoque constante en el aprendizaje y la adopci칩n de las
        tecnolog칤as m치s actuales para seguir innovando en cada proyecto.
      </p>
    </section>

    <ul class="flex flex-wrap gap-x-2">
      <li>
        <SocialLink link="https://github.com/jetiradoro">
          <Github class="size-6" />
          Github
        </SocialLink>
      </li>

      <li>
        <SocialLink link="https://linkedin.com/in/jetiradoro">
          <Linkedin class="size-6" />
          Linkedin
        </SocialLink>
      </li>

      <li>
        <SocialLink link="/assets/cv_linkedin.pdf">
          <Download class="size-6" />
          CV
        </SocialLink>
      </li>

      <li>
        <SocialLink link="mailto:jesus@jetiradoro.com">
          <Mail class="size-6" />
          jesus@jetiradoro.com
        </SocialLink>
      </li>
    </ul>
  </div>
  <Logo class="w-[25rem] lg:w-[80rem] logo mx-auto mb-10 xl:mb-0" />
</section>

<style>
  .jumbo-text {
    background: linear-gradient(
      45deg,
      var(--color-primary),
      var(--color-secondary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
