<a
  href={Astro.props.link}
  class="rounded-full border border-white/10 flex justify-center items-center py-2 px-4 gap-x-2 bg-white/5 hover:scale-105 hover:bg-white/15 transition"
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
