---
interface Props {
  title: string;
  description: string;
  year: string;
}
const { title, description, year } = Astro.props;
---

<div class="relative">
  <div
    class="absolute size-4 bg-blue-500 rounded-full mt-1.5 -start-2 border border-white dard:border-gray-900 dark:bg-gray-700"
  >
  </div>
  <div class="ml-6">
    <h4 class="text-xl font-bold text-blue-500">{title}</h4>
    <div
      class="mt-2 max-w-screen-lg experience-content text-gray-300 text-pretty"
      set:html={description}
    />
    <span class="mt-1 block text-sm font-semibold text-blue-500">{year}</span>
  </div>
</div>
